.front{
    height:100vh;
    background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.6)),
    url(luxuria-bag.jpg) center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}

.front h1{
    font-family:'Cormorant Garamond', serif;
    font-size:70px;
    letter-spacing:10px;
    animation:fadeUp 1.5s ease;
    color: rgb(255, 255, 255);
}

.button{
    margin-top:35px;
    padding:15px 40px;
    border:2px solid #fdfdfd;
    background:transparent;
    color:#d4af37;
    letter-spacing:2px;
    cursor:pointer;
    transition:0.4s;
    font-weight: bold;
}

.button:hover{
    background:#e0d9c0;
    color:#2c2828;
}

.header {
      background: rgb(26, 25, 25);
      color: rgb(255, 255, 255);
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: space-between;
 }

  .logo {
     font-size: 26px;
     font-weight: bold;
     letter-spacing:5px;
     font-family:'comorant garamond', serif;
     color: rgb(255, 255, 255);
 }

  a {
    text-decoration: none;
  }

  .search-box {
     display: flex;
 }

  .search-box input {
     padding: 10px;
     width: 450px;
     border: none;
 }

  .search-box button {
     background: rgb(255, 255, 255);
     border: none;
     color: rgb(0, 0, 0);
     padding: 8px 15px;
 }

  .bottom a {
     color: rgb(255, 255, 255);
     margin-left: 20px;
     text-decoration: none;
     font-size: 18px;
 }

  .store-info {
    background: rgb(26, 25, 25);
    padding: 5px;
    display: flex;
    align-items: center;
    color:#fdfdfd;
 }

 p {
    font-size: 18px;
    letter-spacing: 1px;
 }

  #Logo {
    width: 250px;
    height: 180px;
    border-radius: 50%;
    gap: 30px;
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  .nav {
     background: white;
     padding: 10px 20px;
     text-align: center;
     font-size: 25px;
 }

  .nav a {
     margin-right: 20px;
     text-decoration: none;
     color: Black;
 }

   .nav .active {
     color: rgb(0, 0, 0);
     font-weight: bold;
 }

  .vouchers {
     display: flex;
     gap: 50px;
     padding: 30px;
     text-align: center;
     color:#ffffff;
 }

   .voucher {
      background: #292626;
      border: 3px dashed rgb(255, 255, 255);
      padding: 5px;
      width: 350px;
 }

  .voucher button {
     background: rgb(238, 77, 45);
     color: white;
     border: none;
     padding: 5px;
     margin-top: 10px;
     cursor: pointer;
     transition: 0.3s;
 }

 .voucher:hover {
  transform: translateY(-10px);

 }



 .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 25px;
    cursor: pointer;
    transition: 0.3s;
 }

 .product {
   background: rgb(255, 255, 255);
   padding: 10px;
   text-align: center;
   color:#000000;
   border-width: 10px 5px 10px; 
    border-style: groove; 
    border-color: rgb(255, 255, 255);
 }

 .product img {
    width: 100%;
    height: 200px;
    margin-top: 15px;
 }

 .product:hover {
  transform: translateY(-10px);

 }

 .deals {
    gap: 30px;
    padding: 5px;
    text-align:center;
    font-family:'Cormorant Garamond', serif;
    font-size:20px;
    letter-spacing:3px;
    

 }

 .section{
    padding:15px 8%;
    text-align:center;
    gap: 900px;
}

.section h2{
    font-family:'Playfair Display', serif;
    font-size:40px;
    margin-bottom:5px;
    margin-top:5px;
}

.all products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:100px;
    margin: 50px 50px;
}
.card{
    background:#151515;
    border-radius:15px;
    overflow:hidden;
    transition:0.4s;
    margin-right: 500px;
    width: 200px;
    
}

.card img{
    width:100%;
    height:320px;
    object-fit:cover;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(212,175,55,0.2);
}

.card-content{
    padding:10px;
}

.card-content h3{
    font-family:'Playfair Display', serif;
    margin-bottom:10px;
    color:#ffffff;
}

.price{
    color:#d4af37;
    margin-bottom:15px;
}

.btn{
    padding:10px 30px;
    border:1px solid #d4af37;
    background:transparent;
    color:#d4af37;
    cursor:pointer;
    transition:0.4s;
}

.btn:hover{
    background:#d4af37;
    color:#000;
}

  




